
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body{
    background-image: linear-gradient(#0f0c29,#302b63,#24243e);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    font-family: 'Alata', sans-serif;
    padding: 50px 100px 70px 100px;
}

.logo{
    height: 70px;
    width: 70px;
}